*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;

}

p {
    margin: 0;
    padding: 10px 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

a:focus,
a:active {
    outline: none;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

html {
    // min-width: 320px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
    background: #fff;
    scroll-behavior: smooth;
    min-width: 320px;
    overflow-x: hidden;
}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.btn {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    padding: 11px 0;
    border: none;

    background: #00A4E5;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 0.5px;
    color: #fff;

    &:focus {
        outline: none;
    }
}